body {
   margin: 0;
   padding: 0;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment:fixed;
   height: 100vh;
}

.main {
   width: 600px;
   display: flex;
   flex-direction: column;
   vertical-align: bottom;
   /* width: fit-content; */
   margin-left: auto;
   margin-right: auto;
   padding-top: 60px;
   padding-bottom: 50px;
}

input {
   width: 400px;
   height: 30px;
   font-size: 28px;
}

input.input_edit {
   width: 300px;
   height: 30px;
   font-size: 24px;
}

button {
   border-radius: 10px;
}

#add_city {
   height: 36px;
   font-size: 28px;

}

.geoFixed {
   background-color: rgb(255, 255, 223);
   position: fixed;
   bottom: 20px;
   left: 20px;
   padding: 10px;
   border: 1px solid rgb(255, 255, 223);
   border-radius: 25px;
}


.geoFixed > div:first-child {
   font-size: 20px;
}

.geoFixed > div:nth-child(2) {
   display: flex;
   flex-direction: row;
}

.geoFixed > div:nth-child(2) > div > p:first-child {
   font-size: 20px;
}

.geoFixed img {
   object-fit: contain;
}

.city_example {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* background-color: khaki; */
   background-image: linear-gradient(to right, rgb(255, 255, 223), rgba(255, 255, 223, 0.904), rgba(255, 255, 223, 0.459) );
   /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);  */
   justify-content: space-between;
   margin-top: 10px;
}


.city_example > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-basis: 50%;
}

.weather_zone p {
   text-align: center;
}

.weather_zone p.name {
   font-size: 18px;
}

.weather_zone > div {
   margin-left: 10px;
}

.edit_instuments {
   justify-content: flex-end;
}

.city_example > div > button {
   height: 40px;
}

#delete_all {
   background-color: ivory;
   position: fixed;
   bottom: 20px;
   right: 20px;
}

.possible_city {
   position: fixed;
   top: 20px;
   left: 20px;
   background-color: lemonchiffon;
   font-size: 20px;
}









