body {
   margin: 0;
   padding: 0;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.main {
   display: flex;
   flex-direction: column;
   vertical-align: bottom;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   padding-top: 60px;
   
}

input {
   width: 400px;
   height: 30px;
   font-size: 28px;
}

#add_city {
   height: 36px;
   font-size: 28px;

}

.geoFixed {
   background-color: rgb(255, 255, 223);
   position: fixed;
   bottom: 20px;
   left: 20px;
   padding: 10px;
   border: 1px solid rgb(255, 255, 223);
   border-radius: 25px;
}


.geoFixed > div:first-child {
   font-size: 20px;
}

.geoFixed > div:nth-child(2) {
   display: flex;
   flex-direction: row;
}

.geoFixed > div:nth-child(2) > div > p:first-child {
   font-size: 20px;
}

.city_example {
   display: flex;
   flex-direction: row;
   background-color: khaki;
   justify-content: space-between;
   margin-top: 10px;
}

#delete_all {
   background-color: ivory;
   position: fixed;
   bottom: 20px;
   right: 20px;
}

.possible_city {
   position: fixed;
   top: 20px;
   left: 20px;
   background-color: lemonchiffon;
   font-size: 20px;
}









